*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-family: "Raleway", sans-serif;
  color: hsl(243, 87%, 12%);
}

h1 {
  font-size: 2.4rem;
  line-height: 36px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
@media (min-width: 980px) {
  h1 {
    font-family: "Raleway", sans-serif;
    font-size: 4rem;
    line-height: 60px;
  }
}

h2 {
  font-size: 1.6rem;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
}
@media (min-width: 980px) {
  h2 {
    font-size: 4rem;
    line-height: auto;
  }
}

p {
  margin-top: 0;
  font-size: 1.4rem;
  line-height: 21px;
  color: hsl(243, 87%, 12%);
  font-weight: 400;
}
@media (min-width: 980px) {
  p {
    font-size: 1.7rem;
    line-height: 24px;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.3rem;
}

.icon-container {
  border: 1px solid #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 100%;
  margin-right: 12px;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
}
.icon-container .icon {
  width: 20px;
  height: 20px;
}

.icon-container:hover,
.icon-container:focus {
  color: hsl(224, 93%, 58%);
  border: 1px solid hsl(224, 93%, 58%);
}

.arrow-icon {
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid hsl(170, 45%, 43%);
  transition: all 0.3s;
}
.arrow-icon a {
  margin-right: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: hsl(170, 45%, 43%);
  transition: all 0.3s;
}
@media (min-width: 980px) {
  .arrow-icon a {
    font-size: 1.6rem;
  }
}
.arrow-icon:hover {
  border-bottom: 1px solid #72cabb;
}
.arrow-icon:hover a {
  color: #72cabb;
}
.arrow-icon:hover img {
  opacity: 0.8;
}

.btn, .btn-hero, .btn-callout {
  background: hsl(224, 93%, 58%);
  color: #fff;
  border: 0;
  width: 50%;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  padding: 1.2rem 0;
  margin: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover, .btn-hero:hover, .btn-callout:hover {
  background: #628af9;
}

.btn-callout {
  font-size: 1rem;
  border-radius: 1.5px;
}
@media (min-width: 980px) {
  .btn-callout {
    font-size: 1.4rem;
  }
}

.btn-hero {
  font-size: 1.4rem;
  border-radius: 3.2px;
}

::placeholder {
  font-size: 1.2;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.47px;
}
@media (min-width: 980px) {
  ::placeholder {
    font-size: 1.4rem;
    font-family: "Open Sans", sans-serif;
  }
}

input[type=email] {
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  text-indent: 1.8rem;
  padding: 1.3rem 0;
  border: 1px solid hsl(243, 87%, 12%);
  border-radius: 3.2px;
  width: 100%;
  outline: 0;
  color: hsl(243, 87%, 12%);
}

.error-text {
  display: none;
  font-size: 1.2rem;
  color: #ef4877;
  margin-top: 5px;
}

.card {
  width: 350px;
  margin: 5rem;
  padding: 2.6rem 3.2rem;
  border: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card p {
  font-size: 1.3rem;
  line-height: 23px;
  letter-spacing: 0.5px;
  margin-bottom: 1.6rem;
}
.card .card__profile-image {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.card__profile {
  display: flex;
  align-items: center;
}

.card__profile-name {
  display: block;
  font-weight: 700;
  font-size: 1.1rem;
}

.card__profile-company {
  font-size: 0.8rem;
}