*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-family: "Raleway", sans-serif;
  color: hsl(243, 87%, 12%);
}

h1 {
  font-size: 2.4rem;
  line-height: 36px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
@media (min-width: 980px) {
  h1 {
    font-family: "Raleway", sans-serif;
    font-size: 4rem;
    line-height: 60px;
  }
}

h2 {
  font-size: 1.6rem;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
}
@media (min-width: 980px) {
  h2 {
    font-size: 4rem;
    line-height: auto;
  }
}

p {
  margin-top: 0;
  font-size: 1.4rem;
  line-height: 21px;
  color: hsl(243, 87%, 12%);
  font-weight: 400;
}
@media (min-width: 980px) {
  p {
    font-size: 1.7rem;
    line-height: 24px;
  }
}

.grid {
  display: grid;
  align-content: center;
  row-gap: 8rem;
  padding: 5rem 4rem;
}

@media (min-width: 980px) {
  .grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }
  .grid-1x2 .feature__image {
    order: 2;
  }
}

@media (min-width: 980px) {
  .grid-1x4 {
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
  }
}

.grid {
  display: grid;
  align-content: center;
  row-gap: 8rem;
  padding: 5rem 4rem;
}

@media (min-width: 980px) {
  .grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }
  .grid-1x2 .feature__image {
    order: 2;
  }
}

@media (min-width: 980px) {
  .grid-1x4 {
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
  }
}

.feature {
  background-image: url(../../images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
@media (min-width: 980px) {
  .feature {
    background-image: url(../../images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
}

.feature__image img {
  width: 100%;
  height: auto;
}

.feature__content h2 {
  text-align: center;
  font-size: 1.6rem;
}
.feature__content .feature__content-text {
  text-align: center;
}
.feature__content .arrow-icon {
  margin-bottom: 4rem;
}
.feature__content .arrow-container {
  display: flex;
  justify-content: center;
}
.feature__content .card {
  margin: 0 auto;
}
@media (min-width: 980px) {
  .feature__content h2 {
    font-size: 4rem;
    line-height: 47px;
    text-align: left;
    margin-bottom: 3.8rem;
  }
  .feature__content .feature__content-text {
    text-align: left;
  }
  .feature__content .arrow-icon {
    margin-bottom: 4.5rem;
  }
  .feature__content .arrow-container {
    display: flex;
    justify-content: start;
  }
  .feature__content .card {
    margin: 0;
  }
}

.grid {
  display: grid;
  align-content: center;
  row-gap: 8rem;
  padding: 5rem 4rem;
}

@media (min-width: 980px) {
  .grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }
  .grid-1x2 .feature__image {
    order: 2;
  }
}

@media (min-width: 980px) {
  .grid-1x4 {
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
  }
}

.callout {
  background: hsl(238, 22%, 44%);
}
.callout .grid {
  row-gap: 2.4rem;
  column-gap: 22rem;
}

.callout__content {
  text-align: center;
}
.callout__content h2 {
  font-size: 1.8rem;
  line-height: 24px;
  margin-bottom: 1.6rem;
}
.callout__content p {
  font-size: 1.4rem;
  line-height: 21px;
}
.callout__content h2,
.callout__content p {
  color: #fff;
}
@media (min-width: 980px) {
  .callout__content {
    text-align: left;
  }
  .callout__content h2 {
    font-size: 3.2rem;
    line-height: 48px;
    margin-bottom: 1.7rem;
  }
  .callout__content p {
    font-size: 1.6rem;
    line-height: 24px;
    letter-spacing: 0.5px;
  }
}

.callout__inputs {
  padding: 0 3rem;
}
@media (min-width: 980px) {
  .callout__inputs {
    padding: 0;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.3rem;
}

.icon-container {
  border: 1px solid #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 100%;
  margin-right: 12px;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
}
.icon-container .icon {
  width: 20px;
  height: 20px;
}

.icon-container:hover,
.icon-container:focus {
  color: hsl(224, 93%, 58%);
  border: 1px solid hsl(224, 93%, 58%);
}

.arrow-icon {
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid hsl(170, 45%, 43%);
  transition: all 0.3s;
}
.arrow-icon a {
  margin-right: 1rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: hsl(170, 45%, 43%);
  transition: all 0.3s;
}
@media (min-width: 980px) {
  .arrow-icon a {
    font-size: 1.6rem;
  }
}
.arrow-icon:hover {
  border-bottom: 1px solid #72cabb;
}
.arrow-icon:hover a {
  color: #72cabb;
}
.arrow-icon:hover img {
  opacity: 0.8;
}

.btn, .btn-hero, .btn-callout {
  background: hsl(224, 93%, 58%);
  color: #fff;
  border: 0;
  width: 100%;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  padding: 1.2rem 0;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover, .btn-hero:hover, .btn-callout:hover {
  background: #628af9;
}

.btn-callout {
  font-size: 1rem;
  border-radius: 1.5px;
  margin-top: 0.8rem;
}
@media (min-width: 980px) {
  .btn-callout {
    font-size: 1.4rem;
    margin-top: 1.5rem;
    width: 20rem;
  }
}

.btn-hero {
  font-size: 1.4rem;
  border-radius: 3.2px;
  margin-top: 1.6rem;
}
@media (min-width: 980px) {
  .btn-hero {
    margin-top: 0;
    margin-left: 1.5rem;
    max-width: 20rem;
  }
}

::placeholder {
  font-size: 1.2;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.47px;
}
@media (min-width: 980px) {
  ::placeholder {
    font-size: 1.4rem;
    font-family: "Open Sans", sans-serif;
  }
}

input[type=email] {
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  text-indent: 1.8rem;
  padding: 1.3rem 0;
  border: 1px solid hsl(243, 87%, 12%);
  border-radius: 3.2px;
  width: 100%;
  outline: 0;
  color: hsl(243, 87%, 12%);
}

.error-text {
  display: none;
  font-size: 1.2rem;
  color: #ef4877;
  margin-top: 5px;
}

.card {
  max-width: 350px;
  padding: 2.6rem 3.2rem;
  border: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card p {
  font-size: 1.3rem;
  line-height: 23px;
  letter-spacing: 0.5px;
  margin-bottom: 1.6rem;
}
.card .card__profile-image {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.card__profile {
  display: flex;
  align-items: center;
}

.card__profile-name {
  display: block;
  font-weight: 700;
  font-size: 1.1rem;
}

.card__profile-company {
  font-size: 0.8rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
nav a img {
  width: 80px;
}
@media (min-width: 980px) {
  nav a img {
    width: 166px;
  }
}
nav ul {
  display: flex;
}
nav ul li {
  margin: 0 1.5rem;
  list-style: none;
}
nav ul a {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  transition: all 0.3s;
}
nav ul a:hover, nav ul a:focus {
  color: black;
}
@media (min-width: 980px) {
  nav ul li {
    margin: 0 3.5rem;
  }
  nav ul a {
    font-size: 1.6rem;
  }
}

.grid {
  display: grid;
  align-content: center;
  row-gap: 8rem;
  padding: 5rem 4rem;
}

@media (min-width: 980px) {
  .grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }
  .grid-1x2 .feature__image {
    order: 2;
  }
}

@media (min-width: 980px) {
  .grid-1x4 {
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
  }
}

.hero img {
  width: 100%;
  height: auto;
}
@media (min-width: 980px) {
  .hero .grid-1x2 img {
    order: 2;
  }
  .hero .grid-1x2 .hero__content {
    align-self: center;
  }
}

.hero__content h1,
.hero__content p {
  text-align: center;
}
.hero__content h1 {
  margin-bottom: 2.4rem;
}
.hero__content p {
  margin-bottom: 3.2rem;
}
@media (min-width: 980px) {
  .hero__content h1,
  .hero__content p {
    text-align: left;
  }
  .hero__content h1 {
    margin-bottom: 1.5rem;
  }
  .hero__content p {
    margin-bottom: 2.4rem;
  }
  .hero__content .hero__inputs {
    display: flex;
  }
}

.grid {
  display: grid;
  align-content: center;
  row-gap: 8rem;
  padding: 5rem 4rem;
}

@media (min-width: 980px) {
  .grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }
  .grid-1x2 .feature__image {
    order: 2;
  }
}

@media (min-width: 980px) {
  .grid-1x4 {
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
  }
}

.footer {
  background: hsl(243, 87%, 12%);
  padding-top: 6rem;
}
.footer a {
  color: #fff;
  display: block;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  transition: all 0.3s;
  margin-bottom: 1.6rem;
}
.footer a:hover {
  color: hsl(224, 93%, 58%);
}
.footer .grid {
  row-gap: 3.2rem;
}
.footer .grid-1x4 {
  padding: 1.8rem 3rem 1.8rem;
}
@media (min-width: 980px) {
  .footer {
    padding-top: 7.5rem;
  }
  .footer .grid-1x4 {
    padding: 2rem 0 3.6rem;
  }
  .footer .grid-1x4 .social {
    justify-self: start;
    align-items: start;
  }
}

.footer__logo {
  filter: grayscale(1) brightness(50);
  margin-left: 3rem;
}
@media (min-width: 980px) {
  .footer__logo {
    margin-left: 0;
  }
}

.footer__contacts p {
  color: #fff;
  margin-bottom: 0;
  margin-left: 1.2rem;
}
.footer__contacts .footer__contacts-info {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}