<article class="callout">
  <div class="grid grid-1x2 container">
    <div class="callout__content">
      <h2>Get early access today</h2>
      <p>
        It only takes a minute to sign up and our free starter tier is extremely
        generous. If you have any questions, our support team would be happy to
        help you.
      </p>
    </div>
    <div class="callout__inputs">
      <input
        class="input"
        type="email"
        id="input"
        placeholder="Enter your email..."
        required
      />
      <div class="error-text" id="error-text">Please check your email</div>
      <button class="btn-callout">Get Started For Free</button>
    </div>
  </div>
</article>
