<div class="card">
  <img src="images/icon-quotes.svg" alt="" />
  <p>
    Fylo has improved our team productivity by an order of magnitude. Since
    making the switch our team has become a well-oiled collaboration machine.
  </p>
  <div class="card__profile">
    <img
      class="card__profile-image"
      src="images/avatar-testimonial.jpg"
      alt=""
    />
    <div class="card__profile-info">
      <span class="card__profile-name">Kyle Burton</span>
      <span class="card__profile-company">Founder & CEO, Huddle</span>
    </div>
  </div>
</div>
