<footer class="footer">
  <div class="container">
    <a href="#">
      <img class="footer__logo" src="images/logo.svg" alt="" />
    </a>
  </div>
  <div class="grid grid-1x4 container">
    <div class="footer__contacts">
      <span class="footer__contacts-info">
        <img src="images/icon-phone.svg" alt="" />
        <p>Phone: +1-543-123-4567</p>
      </span>
      <span class="footer__contacts-info">
        <img src="images/icon-email.svg" alt="" />
        <p>example@fylo.com</p>
      </span>
    </div>
    <div>
      <a href="#">About Us</a>
      <a href="#">Jobs</a>
      <a href="#">Press</a>
      <a href="#">Blog</a>
    </div>
    <div>
      <a href="#">Contact Us</a>
      <a href="#">Terms</a>
      <a href="#">Privacy</a>
    </div>
    <div class="social">
      <span class="icon-container">
        <i class="fa-brands fa-facebook-f icon"></i>
      </span>
      <span class="icon-container">
        <i class="fa-brands fa-instagram icon"></i>
      </span>
      <span class="icon-container">
        <i class="fa-brands fa-twitter icon"></i>
      </span>
    </div>
  </div>
</footer>
