<section class="hero container">
  <div class="grid grid-1x2">
    <img src="images/illustration-1.svg" alt="" />
    <div class="hero__content">
      <h1>All your files in one secure location, accessible anywhere.</h1>
      <p>
        Fylo stores your most important files in one secure location. Access
        them wherever you need, share and collaborate with friends, family, and
        co-workers.
      </p>
      <div class="hero__inputs">
        <input
          class="input"
          type="email"
          id="input"
          placeholder="Enter your email..."
          required
        />
        <div class="error-text" id="error-text">Please check your email</div>
        <button class="btn-hero">Get Started</button>
      </div>
    </div>
  </div>
</section>
